body{
	background-color: #ffffff;
}
.navbar  {
	background-color:#ffffff ;
	font-family: 'Coming Soon', cursive;
}

.img-responsive img {
	height: 100%;
	
}



#slide1 {  
	font-family: 'Pacifico', cursive;
	color: #4F0018
	vertical

} 

#slide2 {  
	font-family: 'Pacifico', cursive;
	color: #ffffff
	vertical

} 

.marketing {

	font-family: 'Coming Soon', cursive;
}

.imggallery {
	display: none
}

.hshow:hover + .imggallery {
	display: block
}

